---
const { children } = Astro.props;
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wallanoti Docs</title>
  </head>
  <body>
    <main>
      {children}
    </main>
  </body>
</html>
